/* Reset basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling for Sections */
section {
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header Section */
.header {
    background-color: #323232;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.header nav {
    margin-top: 1rem;
}

.header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

.header nav a:hover {
    color: #00bfff;
}

/* About Section */
.about {
    background: #0D7377;
    color: #fff;
    text-align: left;
}

/* Projects Section */
.projects {
    background-color: #212121;
    color: #fff;
    text-align: center;
}

.projects h2 {
    font-size: 2rem;
    color: #fff;
}

.projects .project {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #0D7377;
}

.projects .project img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

/* Contact Section */
.contact {
    background-color: #0D7377;
    color: #fff;
    text-align: left;
}

.contact h2 {
    font-size: 2rem;
    color: #fff;
}

.contact a {
    color: #fff;
    text-decoration: underline;
}

.contact a:hover {
    color: #66bb6a;
}

/* Footer */
.footer {
    background-color: #323232;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;  
}

.footer a {
    color: #00bfff;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer a:hover {
    color: #fff;
}
